@import './sass/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.7s ease;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  flex: 1 1 auto;
}